/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS fonts */
@font-face {
  font-family: 'montserrat_alternatesmedium';
  src: url('../assets/fonts/montserratalternates-medium-webfont.woff2')
      format('woff2'),
    url('../assets/fonts/montserratalternates-medium-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Css Variable*/
:root {
  /* Tailwind color palette: Slate */
  --slate50: #f8fafc;
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate600: #475569;
  --slate700: #334155;
  --slate800: #1e293b;
  --slate900: #0f172a;
  --slate950: #020617;
}

/* Layout: Body */
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    [row1-start] 'header' 1fr [row1-end]
    [row2-start] 'main' 8fr [row2-end]
    [row3-start] 'footer' 1fr [row3-end]
    / 1fr;
}

/* Layout: body header */
#body-header {
  grid-area: header;
}

/* Layout: body main */
#body-main {
  grid-area: main;
}

/* Layout: body footer */
#body-footer {
  grid-area: footer;
}

.footer-wrapper {
  width: 50%;
  height: auto;
}

/* Layout: padding */
.padding1vw {
  padding: 1vw;
}

/* Layout: fonts */
.fonts-bigger {
  font-size: 4vw;
}

.fonts-normal {
  font-size: 2vw;
}

.fonts-small {
  font-size: 1vw;
}

/* Layout: icons and cell sizes */
.icons-size,
.cell-size {
  width: 3vw;
  height: 3vw;
}

/* Layout: common classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-2col-cent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

/* Style
 * Not worked yet. Only started
 *
 * */

body {
  font-family: 'montserrat_alternatesmedium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.battlefield-border {
  border: 1px solid black;
}

.cell-border {
  border: 1px solid lightgray;
}
