/* TODO: 
 * - button;
 * - button:hover;
 * - button:active;
 * - rival board: hover;
 */

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS fonts */
@font-face {
  font-family: 'montserrat_alternatesmedium';
  src: url('../assets/fonts/montserratalternates-medium-webfont.woff2')
      format('woff2'),
    url('../assets/fonts/montserratalternates-medium-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Css Variable*/
:root {
  /* Tailwind color palette: Slate */
  --slate50: #f8fafc;
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate600: #475569;
  --slate700: #334155;
  --slate800: #1e293b;
  --slate900: #0f172a;
  --slate950: #020617;
  --red500: #ef4444;
  --red600: #dc2626;
  --red700: #b91c1c;

  /* Fonts */
  --fonts-big: 2.5vw;
  --fonts-normal: 1.5vw;
  --fonts-small: 0.9vw;

  /* Padding */
  --padding-min: 1vw;

  --radius: 10px;
}

body {
  display: grid;
  grid-template:
    [row1-start] 'header' [row1-end]
    [row2-start] 'main' [row2-end]
    [row3-start] 'footer' [row3-end]
    / 1fr;
  gap: 1vw;

  font-family: 'montserrat_alternatesmedium', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--slate50);
  color: var(--slate950);
}

.body-header {
  background-color: var(--slate700);
  color: var(--slate50);
  grid-area: header;
  max-height: 15vh;
  min-height: 7vh;
}

.body-header,
.body-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  padding: var(--padding-min);
  font-size: var(--fonts-big);
}

.body-main {
  grid-area: main;
  display: grid;
  grid-template:
    [row1-start] 'instructions instructions' [row1-end]
    [row2-start] 'player-one-name player-two-name' [row2-end]
    [row3-start] 'player-board rival-board' [row3-end]
    [row4-start] 'player-ships rival-ships' [row4-end]
    / 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 1vw;

  font-size: var(--fonts-normal);
  min-height: 79vh;
}

.instructions {
  grid-area: instructions;
  width: 100%;
  display: grid;
  grid-template:
    [row1-start] 'messages btnStart' [row1-end]
    / 0.8fr 0.2fr;
  align-items: center;
  justify-items: center;
  gap: 1vw;
}

.messages {
  grid-area: messages;
  width: 30%;
  padding: var(--padding-min);
  background-color: var(--slate300);
  border-radius: var(--radius);
}

.message-field {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.buttons {
  grid-area: btnStart;
  width: 30%;
  padding: var(--padding-min);
  font-size: var(--fonts-normal);

  color: var(--slate50);
  background-color: var(--slate700);
  border-radius: var(--radius);
  border: none;
  box-shadow: 5px 5px 5px 1px var(--slate300);
}

.buttons:hover {
  background-color: var(--slate600);
  box-shadow: 5px 5px 5px 1px var(--slate200);
}

.buttons:active {
  transform: translateY(5px);
  box-shadow: none;
}

.players-name {
  align-self: end;
  color: var(--slate700);
}

.player-one-name {
  grid-area: player-one-name;
}

.player-two-name {
  grid-area: player-two-name;
}

.boards {
  border: 2px solid var(--slate700);
}

.cell-border {
  border: 1px solid var(--slate300);
}

.icons-size,
.cell-size {
  width: 2vw;
  height: 2vw;
}

.player-board {
  grid-area: player-board;
}

.ship-placed {
  background-color: var(--slate700);
}

.rival-board {
  grid-area: rival-board;
}

.ship-hit,
.ship-sunked {
  background-color: var(--red500);
}

.missed-hit {
  background-color: var(--slate300);
}

.ships-container {
  background-color: var(--slate300);
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  width: 15vw;
  height: 10vw;
  border-radius: var(--radius);
}

.player-ships {
  grid-area: player-ships;
}

.rival-ships {
  grid-area: rival-ships;
}

.body-footer {
  grid-area: footer;
  padding: var(--padding-min);
  font-size: var(--fonts-small);

  background-color: var(--slate100);
  color: var(--slate600);
  max-height: 8vh;
  min-height: 7vh;
}

.credits,
.footer-icons {
  padding: var(--padding-min);
}
